@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* my solution */
ul{
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  color: gray;
}

a{
  text-decoration: none;
  color: rgb(110, 110, 110);
}

body{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header , .footer{
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 245, 245);
}

.content{
  flex: 1; /*shorthand for flex-grow: 1, flex-shrink: 1, and flex-basis: 0% ,
  allow main content container to grow/shrink */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

button{
  padding: 8px 16px;
  border-radius: 8px;
}